/* Global declarations */
:root {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Cards */
.card {
  border: 2px solid black;
}