@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Global declarations */
:root {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body {
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-auto-flow: row;
  word-wrap: break-word;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px 10px 0px rgb(0 0 0 / 0.7);
  z-index: 1;
}

.library-title {
  font-size: 50px;
  font-weight: 700;
}

/* Content */
.content-container {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  gap: 30px;
  background-color: #f3f4f6;
}

.new-book-container {
  height: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.new-book-button {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 0 20px;
  height: 75px;
  font-size: 25px;
  font-weight: 700;
  background-color: #f3f4f6;
  transition: 200ms ease-in-out;
}

.new-book-button:hover {
  background-color: #d4d4d8
}

.new-book-button:focus {
  outline: none;
}
/* Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row;
  gap: 30px;
}

.card {
  border: 2px solid black;
  padding: 100px;
}

/* Overlay */
.overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

.overlay-active {
  opacity: 1;
  pointer-events: all;
}

/* Modal */
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%) scale(0);
  z-index: 10;
  border-radius: 15px;
  background-color: white;
}

.modal-header, .modal-body {
  /* border: 2px solid red; */
}

.modal-active {
  transform: translate(-50%, -70%) scale(1);
}

.modal-header {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.modal-header, .close-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;

  font-size: 1.6rem;
  font-weight: bold;
}

.close-button {
  border: none;
  background-color: white;
  font-size: 35px;
}

.modal-body {
  display: flex;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#new-book-form {
  display: flex;
  flex-flow: column;
  padding: 10px;
  width: 100%;
  gap: 1.5rem;
}

.modal-label-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}