/* Global declarations */
:root {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Cards */
.card {
  border: 2px solid black;
}

/* Modal */
.modal {
  position: fixed;
  border: 2px solid green;
  width: 30%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  gap: 32%;
  border: 2px solid blue;
}

#new-book-form {
  border: 2px solid red;
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}